.box {
  width: 800px;
  height: 600px;
  border: 5px solid coral;
}

img {
  height: 100%;
  width: 100%;
}

.beach-max-width {
  max-width: 100%;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}
