.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px;
  border: 5px solid goldenrod;
}

.wrapper > div {
  background-color: rebeccapurple;
  border-radius: 0.5em;
}

img {
  width: 100%;
  height: 100%;
}
