.a {
  background-image: linear-gradient(
    105deg,
    rgba(0, 249, 255, 1) 39%,
    rgba(51, 56, 57, 1) 96%
  );
  width: 500px;
  height: 400px;
  border: 5px solid darkgrey;
  display: inline-block;
}

.b {
  background-image: radial-gradient(
    circle,
    rgba(0, 249, 255, 1) 39%,
    rgba(51, 56, 57, 1) 96%
  );
  background-size: 100px 50px;
  width: 500px;
  height: 400px;
  border: 5px solid darkslategray;
  display: inline-block;
}
.c {
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 500px;
  height: 400px;
  border: 5px solid darkslategray;
  display: inline-block;
}
.d {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 100px 50px;
  width: 500px;
  height: 400px;
  border: 5px solid darkslategray;
  display: inline-block;
}
