html {
  font-size: 16px;
}

/* The em unit means "my parent element's font-size" */
.ems li {
  font-size: 1.3em;
}

/* The rem unit means "The root element's font-size" */
.rems li {
  font-size: 1.3rem;
}

p {
  width: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
