body {
  color: darkgreen;
}
a {
  color: mediumslateblue;
}
.my-class-1 a {
  color: inherit;
}

.my-class-2 a {
  color: initial;
}

.my-class-3 a {
  color: unset;
}
h1 {
  color: royalblue;
}
h3 {
  color: steelblue;
}
blockquote {
  background-color: red;
  border: 2px solid green;
}

.fix-this {
  all: unset;
}
